/* == GLOBAL ==*/
/* == Slider global */
/* == BTN ==*/
/* == Header ==*/
/* == Home ==*/
/* == ABOUT ==*/
/* == Mobile Application ==*/
/* == NEWS ==*/
/* == ARTICLE NEWS ==*/
/* == CONTACT ==*/
/* == Footer ==*/
/* == Modal ==*/
/* == 404 page and Modal== */
/* == Media== */
@font-face {
  font-family: 'ApercuPro-Mono';
  src: url('./fonts/Apercu_Pro/apercu-mono-pro.otf') format("opentype");
}
@font-face {
  font-family: 'AvantGardeGothicC-Demi';
  src: url('./fonts/ITC_Avant_Garde_Gothic_С/AvantGardeGothicC-Demi.otf') format("opentype");
}
@font-face {
  font-family: 'AvantGardeGothicC';
  src: url('./fonts/ITC_Avant_Garde_Gothic_С/AvantGardeGothicC.otf') format("opentype");
}

/* ============ Global ========== */
body{
  font-family: 'ApercuPro-Mono';
  color: #0000;
}
img{
  width: 100%;
  height: auto;
  position: relative;
}
a{
  color: inherit;
}
a:hover{
  text-decoration: none;
  color: inherit;
}
h1,h2,h3,h4,h5{
  font-family: 'AvantGardeGothicC-Demi';
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
}
h1{
  font-size: 120px;
  letter-spacing: -1px;
  text-align: left;
  color: #000000;
}
h1.page-title{
  font-size: 60px;
  letter-spacing: -0.5px;
  padding: 40px 0 30px;
}
.default-bread{
  margin: 0;
  padding: 0;
  font-family: 'ApercuPro-Mono';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 3.6px;
  text-align: left;
  color: #444444;
  text-transform: uppercase;
}
h2{
  font-size: 60px;
  line-height: 1;
  letter-spacing: -0.5px;
  text-align: left;
}
h4{
  font-family: 'AvantGardeGothicC-Demi';
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.3px;
  text-align: left;
  color: #e43a15;
}
h5{
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: -0.2px;
  text-align: left;
}
.color-white{
  color: #fff;
}
.color-black{
  color: #000;
}
:active, :hover, :focus {
  outline: 0;
  outline-offset: 0;
}
button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
.no-padding{
  padding: 0;
}
.bg-image{
  background-repeat: no-repeat;
  background-size: cover;
}
section{
  width: 100%;
  position: relative;
  background-color: #fff;
  margin: 0 auto;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}
select::-ms-expand {
  display: none;
}
/* ========== End Global ======= */

/* ========== Slider global ==== */
.slick-list {
  overflow: visible;
}
.slider-sep-content {
  width: 20px;
  height: 3px;
  background-color: #e54021;
  margin: 10px 0;
}
.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before{
  color: #000;
  opacity: 1;
}
.slick-prev, .slick-next{
  display: block;
  width: 60px;
  height: 60px;
  background-color: #fff;
  z-index: 2;
}
.slick-prev {
  left: 15px;
}
.slick-next {
  right: -25px;
}
.slick-prev:before{
  content: "\f104";
}
.slick-next:before{
  content: "\f105";
}
.slick-prev:before, .slick-next:before{
  font-family: FontAwesome;
  font-size: 18px;
  color: #e5462e;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
  color: #e5462e;
  outline: none;
  background: #fff;
}

/* ==== End Slider global ========*/

/* =========== BTN ============= */
.btn{
  font-family: 'ApercuPro-Mono';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.6px;
  text-align: left;
  color: #ffffff;
  padding: 20px 26px 22px 46px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
.btn.btn-red{
  background-color: #e43a15;
}
.btn.btn-red .btn-line{
  background-color: #ffffff;
}
.btn.btn-red:hover{
  border: solid 1px;
  border-color:rgba(255,255,255, 0.3);
  color: #ffffff;
  background-color: #1945cd;
}
.btn.btn-red:hover .btn-line{
  background-color: #fff;
}
/*  */
.btn.btn-dark-grey{
  background-color: #ffffff;
  color: #5e7a9b;
  border-color:rgba(94,122,155, 0.3);
}
.btn.btn-dark-grey .btn-line{
  background-color: rgba(94,122,155, 0.3);
}
.btn.btn-dark-grey:hover{
  border: solid 1px;
  border-color:rgba(255,255,255, 0.3);
  color: #ffffff;
  background-color: #1945cd;
}
.btn.btn-dark-grey:hover .btn-line{
  background-color: #fff;
}
/*  */
.btn.btn-red-and-white{
  color: #e43a15;
  background-color: #fff;
  border: solid 1px;
  border-color: #e43a15;
}
.btn.btn-red-and-white .btn-line{
  background-color: #e43a15;
}
.btn.btn-red-and-white:hover{
  border: solid 1px;
  border-color:rgba(255,255,255, 0.3);
  color: #ffffff;
  background-color: #e43a15;
}
.btn.btn-red-and-white:hover .btn-line{
  background-color: #fff;
}
.btn.btn-blue{
  border: solid 1px;
  border-color:rgba(255,255,255, 0.3);
  color: #ffffff;
  background-color: initial;
}
.btn.btn-blue:hover{
  color: #1945cd;
  background-color: #fff;
}
.btn.btn-blue:hover .btn-line{
  background-color: #1945cd;
}
.btn.btn-blue .btn-line{
  background-color: #fff;
}
.btn.btn-white{
  color: #1945cd;
  background-color: #fff;
} 
.btn.btn-white .btn-line{
  background-color: #1945cd;
} 
.btn.btn-white:hover{
  border: solid 1px ;
  border-color:rgba(255,255,255, 0.3);
  color: #ffffff;
  background-color: initial;
} 
.btn.btn-white:hover .btn-line{
  background-color: #fff;
} 
.btn .btn-line{
  width: 20px;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
}
.get-in-touch{
  font-family: 'ApercuPro-Mono';
  text-align: center;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #e54934;
  background-color: inherit;
  border: 0;
  margin: 0 50px 0 0;
  cursor: pointer;
}
.lang{
  border: 0;
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #ffffff;
  background-color: inherit;
  position: relative;
  z-index: 2;
  width: 35px;
  cursor: pointer;
}
.lang-wrap{
  position: relative;
  z-index: 1;
  float: right;
}
.lang-wrap i{
  position: absolute;
  color: #444444;
  right: -4px;
  top: 7px;
}
.lang-wrap::before{
  content: '';
  display: block;
  position: absolute;
  width: 28px;
  height: 28px;
  background-color: #444444;
  border-radius: 50%;
  left: -3px;
}

/* =========== END BTN ========== */

/* ============= Header ========== */

header .nav-item.dropdown.show .fa-angle-down:before {
  content: "\f106";
}
header .nav-item.dropdown.show i{
  opacity: .5;
}
header .nav-item.dropdown .fa-angle-down{
  width: 11px;
  height: 11px;
  position: absolute;
  top: 13px;
  color: #000000;
  right: 45px;
}
header .dropdown-toggle::after{
  display: none;
}
header{
  padding: 50px 80px;
  z-index: 2;
  position: relative;
  background-color: #fff;
  height: 140px;
}
.navbar, .navbar-brand{
  padding: 0;
}
.navbar-brand{
  margin-right: 0;
}  
.navbar-toggleable-md .navbar-nav .nav-link {
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
  margin-right: 40px;
  padding-right: 20px;
  padding-left: 0;
}
.logo{
  width: 185px;
  height: 40px;
  padding: 0;
  margin: 0;
}
.dropdown-menu {
  padding: 30px;
  background-color: #ffffff;
  box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.1);
  border: 0;
}
.dropdown-item {
  padding: 0;
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
  margin-bottom: 20px;
}
.dropdown-item:last-child{
  margin: 0;
}
header .dropdown-item:hover {
  color: #e43a15;
  background-color: initial;
}
header .nav-item.dropdown.show a.nav-link{
  color: #e43a15;
}
.nav-to-top{
  top: -40px;
  padding: 0 30px;
}
/* ============= End Header============= */

/* ============= Home ================== */
.centurion{
  padding: 160px 0 154px;
}
.centurion p{
  font-family: 'ApercuPro-Mono';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.5px;
  text-align: left;
  color: #444444;
  margin: 10px 0 55px;
}
.innovative{
  padding: 284px 0 186px;
  background-image: linear-gradient(110deg, #3023ae, #0069ef);
}
.industries-slid-title{
  margin: 25px 0 0;
  font-family: 'AvantGardeGothicC-Demi';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.2px;
  text-align: left;
  color: #ffffff;
}
.industries .slide-img{
  max-height: 450px;
  overflow: hidden;
}
.industries-slid{
  margin: 60px 5px 0 15px;
}
.industries-slid-text{
  opacity: 0.5;
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: #daecff;
}
.innovative .innovative-img{
  position: absolute;
}
.innovative .arm{
  max-width: 803px;
  top: -221px;
  z-index: 2;
  right: 0;
}
.innovative .scroll-line{
  transform: rotate(-270deg);
  font-family: 'ApercuPro-Mono';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.4px;
  text-align: left;
  color: #5e7a9b;
  position: absolute;
  top: -249px;
  left: -50px;
}
.innovative .scroll-line .scroll {
  width: 51px;
  height: 1px;
  background-color: #d8d8d8;
  display: inline-block;
  position: relative;
  top: -3px;
  margin-right: 5px;
}
.innovative .top-bg{
  max-width: 803px;
  top: -346px;
  z-index: 2;
  right: 394px;
}
.innovative .bottom-bg{
  max-width: 803px;
  top: 0;
  z-index: 2;
  right: 101px;
}
.innovative p{
  margin: 40px 0 0;
  max-width: 880px;
  opacity: 0.5;
  font-family: 'ApercuPro-Mono';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;
}
.services{
  padding: 120px 0 40px;
}
.services h2{
  margin-bottom: 80px;
}
.services-block-img{
  position: absolute;
  bottom: -487px;
  right: 135px;
}
.services .service-wrap{
  margin-bottom: 70px
}
.services .service-wrap .service-img{
  width: 70px;
  height: 70px;
  background-color: #e43a15;
  margin-bottom: 20px;
  border-radius: 50%;
  position: relative;
}
.services .service-wrap .service-img img{
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 17px;
}
.services .service-content h5{
  display: inline-block;
  border-bottom: 3px solid #e54021;
}
.services .service-content p{
  opacity: 0.5;
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: #444444;
  margin: 20px 0 0;
}
.industries{
  overflow: hidden;
  padding: 90px;
  background-color: #000;
  padding-left: 22%;
}
.experise{
  padding: 120px 0 0;
}
.experise h2{
  margin-bottom: 70px;
}
.experise .experise-box-red-line{
  height: 8px;
  background-image: linear-gradient(to bottom, #e43a15, #e65245);
}
.experise .experise-col{
  padding: 10px;
}
.experise-box{
  padding: 30px 22px;
  min-height: 280px;
  height: 452px;
  border: solid 2px #f2f2f2;
  border-top: 0;
  margin-bottom: 40px;
}
.experise-box-content{
  opacity: 0.5;
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: #444444;
  margin: 10px 0 0;
}
.partners{
  padding: 100px 0 120px;
  background-color: #fff;
}
.partners .partner{
  align-self:center;
}
.partners-wrap{
  display: flex;
  justify-content: space-around;
  margin-top: 72px;
}
.blue-block-img{
  position: absolute;
  top: 0;
  right: 0;
}
.blue-block{
  padding: 120px 0 140px;
  background-image: linear-gradient(107deg, #3023ae, #0069ef);
  position: relative;
  z-index: 1;
}
.blue-block .text-box{
  font-family: 'ApercuPro-Mono';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;
  margin: 50px 0 60px;
  max-width: 900px;
}
.blue-block .bnt-link + .bnt-link{
  margin-left: 30px;
}
/* =========== End Home =============== */

/* =========== ABOUT ================== */
.about-us{
  padding: 0 0 330px;
}
.about-us-img{
  position: absolute;
  bottom: -244px;
  right: 0;
  max-width: 244px;
  z-index: 2;
}
.what-we-do{
  background-image: linear-gradient(113deg, #3023ae, #0069ef);
}
.what-we-do-content{
  padding: 370px 0 140px;
}
.what-we-do p{
  max-width: 680px;
  margin: 20px 0 0;
  opacity: 0.5;
  font-family: 'ApercuPro-Mono';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff
}
.what-we-do .fortune{
  width: 170px;
  position: relative;
  float: right;
  margin-top: 90px;
}
.what-we-do .fortune:before{
  content: '';
  display: block;
  width: 280px;
  height: 280px;
  background-color: #124fd6;
  position: absolute;
  left: 31px;
  top: -65px;
}
.what-we-do .what-we-do-img-right,
.what-we-do .what-we-do-img-left{
  position: absolute;
}
.what-we-do .what-we-do-img-right,
.what-we-do .what-we-do-img-left{
  top: -254px;
}
.what-we-do .what-we-do-img-right img,
.what-we-do .what-we-do-img-left img{
  height: 508px;
  width: auto;
}
.what-we-do .what-we-do-img-left img{
  border-right: 2px solid #fff;
}
.what-we-do .what-we-do-img-left{
  left: -320px;
}
.company{
  padding: 360px 0 ;
}
.company p{
  max-width: 480px;
  margin: 20px 0 60px;
  opacity: 0.5;
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: #444444;
}
.culture{
  padding: 0;
  background-color: #000;
  height: 700px;
}
.culture h2{
  padding: 190px 0 0;
}
.culture p{
  margin: 20px 0;
  opacity: 0.5;
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: #ffffff;
  max-width: 480px;
}

.culture .culture-img img{
  position: absolute;
  width: 960px;
  top: -100px;
  z-index: 2;
}
.culture-box-content{
  padding-left: 100px;
}
.people{
  padding: 200px 0 150px;
  overflow: hidden;
}
.people p{
  max-width: 480px;
  margin: 20px 0 0;
  opacity: 0.5;
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: #444444;
}
.people p.number{
  opacity: 0.1;
  font-family: 'ApercuPro-Mono';
  font-size: 130px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: -3px;
  text-align: left;
  color: #000000;
}
.people p.number,
.people-block-img {
  max-width: 1500px;
  width: 1500px;
}
.people p.number span{
  letter-spacing: normal;
}
.people-block-img {
  top: 53px;
  position: absolute;
  left: -40px;
}  
.story{
  background-color: black;
  padding: 118px 0 200px;
}
.story p{
  margin: 20px 0 0 ;
  opacity: 0.5;
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: #ffffff;
  max-width: 480px;
}
.story p a{
  text-decoration: underline;
}
.story p a:hover{
  text-decoration: none;
}
.story p.number{
  margin: 0;
  opacity: 0.2;
  font-family: 'ApercuPro-Mono';
  font-size: 130px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: -3px;
  text-align: left;
  color: #ffffff;
  max-width: 100%;
}
.story-block-img {
  position: absolute;
  top: 102px;
  right: 0;
  max-width: 244px;
}
.facilities{
  padding: 200px 0 266px;
  position: relative;
}
.facilities p{
  margin: 20px 0 0;
  max-width: 480px;
  opacity: 0.5;
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: #444444;
}
.facilities-bg{
  position: absolute;
  top: -110px;
  right: 0;
  z-index: 2;
  max-width: 580px;
}

/* =========== End ABOUT ============== */

/* ===========  Mobile Application ============== */
.mobile-development{
  padding: 91px 0 50px;
  background-image: url('../img/mobile-app-bg.jpg');
  background-repeat: no-repeat;
  height: 580px;
}
.mobile-development-block-img{
  position: absolute;
  top: 46px;
  right: 0;
  max-width: 244px;
}
.mobile-development .default-bread{
  margin: 10px auto 80px;
}
.mobile-development .grey-screen{
  background-color: rgba(0, 0, 0, 0.4);
}
.mobile-development p{
  max-width: 900px;
  display: block;
  margin: auto;
}
.mobile-development .icon-dev{
  width: 70px;
  display: block;
  margin: 0 auto 35px;
}
.explore-our-mobile{
  padding: 170px 0 80px;
}
.explore-our-mobile h2{
  font-family: 'AvantGardeGothicC-Demi';
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
  margin-bottom: 40px;
  max-width: 500px;
}
.explore-our-mobile p{
  max-width: 695px;
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: 0.1px;
  text-align: left;
  color: #666666;
  margin: 0;
}
.explore-our-mobile p+p{
  margin: 40px 0 0;
}
.mobile-app-phone-img{
  position: absolute;
  max-width: 392px;
  right: 0;
  top: -45px;
}
.mobile-blue{
  padding: 100px 0 ;
  background-image: linear-gradient(107deg, #3023ae, #0069ef);
}
.mobile-blue-box-padding{
  padding: 0 10px;
}
.mobile-blue .mobile-blue-box{
  min-height: 400px;
  border: solid 1px;
  border-color: rgba(242, 242, 242, 0.2);
  border-bottom: 8px solid #fff;
  padding: 40px 30px 45px;
}
.mobile-blue .mobile-blue-box p{
  margin: 0;
}
.mobile-blue .mobile-blue-box .mobile-title{
  font-family: 'AvantGardeGothicC-Demi';
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.2px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 30px;
}
.mobile-blue .mobile-blue-box .mobile-content{
  opacity: 0.5;
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: #ffffff;
}
.how-it-works{
  padding: 145px 90px 200px;
  padding-left: 22%;
  overflow: hidden;
}
.exprertise{
  padding: 146px 0 123px;
  background-color: #000;
  position: relative;
}
.exprertise h2{
  margin: 0;
}
.exprertise-img{
  height: 244px;
  display: flex;
  align-items: center;
  background-image: url('../img/combined-shape.svg');
  background-repeat: no-repeat;
  background-position-x: 80%;
  margin-top: 97px;
}
.exprertise-list{
  font-family: "AvantGardeGothicC-Demi";
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.3px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  position: relative;
  margin-left: 90px;
}
.exprertise-list + .exprertise-list{
  margin-top: 48px;
}
.exprertise-list span{
  position: absolute;
  display: block;
  width: 35px;
  top: -2px;
}
.exprertise-list span img{
  height: 32px;
  left: -55px;
}
.why-us{
  padding: 150px 0 120px;
}
.why-us h2{
  margin-bottom: 60px
}
.why-us .why-us-box + .why-us-box{
  margin-top: 40px;
}
.why-us .why-us-title{
  margin-bottom: 20px;
}
.why-us .why-us-box p{
  margin: 0;
  opacity: 0.5;
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
}
.why-us .why-us-img{
  float: right;
  max-width: 366px;
  position: relative;
}
.why-us .why-us-img .small-img{
  width: 250px;
  position: absolute;
  left: -47px;
  top: 94px;
}
.get-in-touch-in-page{
  padding: 90px 0;
  background-color: #000;
}
.get-in-touch-in-page p{
  max-width: 880px;
  margin: 20px 0 60px;
  font-family: 'ApercuPro-Mono';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;
}
.get-in-touch-in-page form{
  max-width: 880px;
}
.get-in-touch-in-page button{
  margin-top: 50px;
}
.get-in-touch-in-page .form-control {
  border: 0;
  border-bottom: 1px solid #444;
  border-radius: 0;
  background-color: initial;
  color: #fff;
}
.get-in-touch-in-page textarea{
  height: 36px;
}
.get-in-touch-in-page input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.get-in-touch-in-page input::-moz-placeholder { /* Firefox 19+ */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.get-in-touch-in-page input:-ms-input-placeholder { /* IE 10+ */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.get-in-touch-in-page input:-moz-placeholder { /* Firefox 18- */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.get-in-touch-in-page textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.get-in-touch-in-page textarea::-moz-placeholder { /* Firefox 19+ */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.get-in-touch-in-page textarea:-ms-input-placeholder { /* IE 10+ */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.get-in-touch-in-page textarea:-moz-placeholder { /* Firefox 18- */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
}
.mobile-slid{
  padding: 0px 0  10px;
  margin-right: 90px;
}
.mobile-slid .mobile-slide-content{
  position: relative;
  padding: 15px;
}
.mobile-slid .slide-num{
  position: absolute;
}
.mobile-slid h6.mobile-slid-title{
  font-family: 'AvantGardeGothicC-Demi';
  font-size: 30px;
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
  padding: 180px 0 0px;
  border-bottom: 3px solid #000;
}
.how-it-works .slick-prev, .how-it-works .slick-next {
  border: solid 1px #e6e6e6;
  top: 30px;
}
.mobile-slid .mobile-slid-text{
  margin-top: 30px;
  opacity: 0.5;
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: #444444;
}
.mobile-slid .slide-num{
  font-size: 205px;
  font-family: 'AvantGardeGothicC-Demi';
  left: 23px;
  top: 33px;
  opacity: 0.1;
  color: #444444;
}

/* =========== End Mobile Application =========== */

/* =========== NEWS =========== */
.news{
  padding: 0 0 150px;
}
.news .grid {
  padding: 30px 0 100px;
  margin: 0 5px;
}
.news .grid:after {
  content: '';
  display: block;
  clear: both;
}
.news .grid-sizer,
.news .grid-item {
  width: 33.333%;
  float: left;
  border: 10px solid #fff;
  box-sizing: border-box;
  position: relative;
}
.news .grid-item {
  float: left;
}
.news .grid-item img {
  display: block;
  width: 100%;
}
.grey-screen{
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));
  position: absolute;
  top: 0;
}
.news .grid-content{
  position: absolute;
  bottom: 0;
  left: 30px;
  max-width: 300px;
}
.news-date{
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 1.4px;
  text-align: left;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 5px;
}
.news-title{
  font-family: 'AvantGardeGothicC';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  margin-bottom: 20px;
}
.news .btn{
  display: block;
  margin: 0 auto;
}
/* =========== End NEWS =============== */

/* ============= ARTICLE NEWS ===========*/ 
.news-article .default-bread{
  padding-bottom: 30px;
}
.blue-screen {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(103deg, #3023ae, #0069ef);
  position: absolute;
  top: 0;
}
.news-article-title{
  padding: 160px 0 167px;
}
.news-article-title h3{
  font-family: 'AvantGardeGothicC-Demi';
  font-size: 48px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.25;
  letter-spacing: -0.4px;
  text-align: center;
  margin-bottom: 30px;
}
.news-article-title p{
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.64;
  letter-spacing: 1.4px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.news-article-content{
  padding: 50px 0  150px;
  max-width: 980px;
  margin: 0 auto;
}
.news-article-content h4{
  font-family: 'AvantGardeGothicC-Demi';
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
  margin: 0 0 30px 0;
}
.news-article-content p{
  margin: 0 0 50px;
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: 0.1px;
  text-align: left;
  color: #666666;
}
.news-one-img{
  margin: 0 0 50px;
}
.news-quote{
  padding: 59px 131px 49px 73px;
  position: relative;
  margin-bottom: 50px;
}
.news-quote span{
  max-width: 776px;
  font-family: 'ApercuPro-Mono';
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: left;
  color: #444444;
}
.news-quote p{
  margin: 10px 0 0;
  font-family: 'AvantGardeGothicC';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.63;
  letter-spacing: normal;
  text-align: left;
  color: #999999;
}
.news-quote-icon{
  position: absolute;
  width: 24px;
  right: 70px;
  top: 59px;
}
.news-article-nav{
  margin: 100px 0 0;
}
.news-article-nav{
  display: flex;
  justify-content: space-between;
}
.news-article-nav a{
  color: #000000;
}
.news-article-nav span{
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
}
.news-article-nav .center-nav image{
  width: 17px;
}
.news-article-nav .right-nav i,
.news-article-nav .left-nav i{
  font-size: 14px;
}
.news-article-nav .right-nav i{
  margin-left: 10px;
}
.news-article-nav .left-nav i{
  margin-right: 10px;
}
.news-article-nav a:hover{
  color: #e43a15;
}
/* =========== End ARTICLE NEWS ======== */

/* ============= CONTACT =============== */
.googleMap{
  width: 850px;
  height: 440px;
}
.contact-text{
  padding: 100px 0;
}
.contact-text .phone{
  font-family: 'AvantGardeGothicC-Demi';
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: -0.3px;
  text-align: left;
  color: #ffffff;
  opacity: 1;
}
.contact-text .email{
  font-family: 'AvantGardeGothicC-Demi';
  font-size: 32px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: -0.3px;
  text-align: left;
  color: #ffffff;
  margin-bottom: 25px;
  opacity: 1;
  text-decoration: underline;
}
.contact-text .social{
  color: #fff;
  opacity: 1;
}
.contact-text .social span{
  margin-right: 30px;
}
.contact-text .social img {
  width: 20px;
}
.contact-text button{
  margin: 50px 0 60px;
}
.contact-text p{
  max-width: 680px;
  opacity: 0.5;
  font-family: 'ApercuPro-Mono';
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: -0.4px;
  text-align: left;
  color: #ffffff;
}
.contact-bg{
  position: absolute;
  width: 100%;
  height: 730px;
  top: 185px;
  background-image: linear-gradient(111deg, #3023ae, #0069ef);
}
.google-map-box{
  padding: 40px 0;
}
.google-map-box .flag{
  margin-top: 90px;
  width: 32px;
  height: 17px;
  margin-bottom: 20px;
}
.google-map-box p{
  opacity: 1;
  margin: 0;
  color: #ffffff;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
}
.google-map-box .city-contact{
  font-family: 'AvantGardeGothicC-Demi';
  font-size: 48px;
  line-height: 1.25;
  letter-spacing: -0.4px;
  color: #e43a15;
}
.google-map-box .country-contact{
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  margin-bottom: 30px;
  color: #444444;
}
.google-map-box .location-contact{
  max-width: 480px;
  font-family:'ApercuPro-Mono';
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.3px;
  color: #444444;
}
.google-map-box .city-contact.color-white,
.google-map-box .country-contact.color-white,
.google-map-box .location-contact.color-white{
  color: #fff;
}
/* ============= END CONTACT =========== */

/* ============= Footer =============== */
footer .footer-top{
  padding: 70px 80px 80px;
  border-top: 1px solid #d8d8d8;
}
footer .logo{
  width: 132px;
}
footer .footer-title{
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
  margin: 10px 0 23px;
}
footer .footer-nav a:hover{
  color: #e54933;
}
footer p{
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: left;
  color: #000000;
  margin: 0 0 10px;
}
footer .phone{
  font-family: 'AvantGardeGothicC-Demi';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: -0.1px;
  text-align: left;
  color: #e54933;
}
footer .email{
  font-family: 'AvantGardeGothicC-Demi';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.88;
  letter-spacing: -0.1px;
  text-align: left;
  color: #e5462e;
  margin: 10px 0 25px;
  text-decoration: underline;
}
footer .social img{
  width: 20px;
}
footer .social span{
  margin-right: 25px;
}
footer .sep{
  width: 25px;
  height: 1px;
  background-color: #d8d8d8;
  margin: 20px 0;
}
footer .footer-bottom{
  padding: 26px 5px;
  border-top: 1px solid #d8d8d8;
}
footer .copyright{
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.3px;
  text-align: right;
  color: #444444;
}
/* =============End Footer ======= */

/* ======== 404 page and Modal ============= */
.page404{
  padding: 30px 0 90px;
}
.page404 .title-404{
  font-family: 'AvantGardeGothicC-Demi';
  font-size: 60px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.5px;
  text-align: center;
  color: #000000;
}
.page404 .bread{
  font-family: 'ApercuPro-Mono';
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: 3.6px;
  text-align: center;
  color: #444444;
  margin-bottom: 68px;
}
.page404 .content-404 p{
  font-family: 'ApercuPro-Mono';
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: -0.3px;
  text-align: left;
  color: #444444;
}
.page404 button{
  display: block;
  margin: 30px auto 46px;
}
.page404 .img-404{
  max-width: 451px;
  display: block;
  margin: auto;
}
.get-in-touch-modal{
  width: 640px;
  padding: 50px 100px 64px;
  background-color: #ffffff;
  box-shadow: 0 11px 20px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.get-in-touch-modal .contact{
  font-family: 'AvantGardeGothicC-Demi';
  font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: -0.3px;
  text-align: center;
  color: #000000;
  margin-bottom: 80px;
}
.get-in-touch-modal img.close-modal{
  width: 28x;
  height: 28px;
  cursor: pointer;
}
.get-in-touch-modal .close-wrap{
  position: absolute;
  right: 65px;
}
.get-in-touch-modal input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.get-in-touch-modal input::-moz-placeholder { /* Firefox 19+ */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.get-in-touch-modal input:-ms-input-placeholder { /* IE 10+ */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.get-in-touch-modal input:-moz-placeholder { /* Firefox 18- */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.get-in-touch-modal textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.get-in-touch-modal textarea::-moz-placeholder { /* Firefox 19+ */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.get-in-touch-modal textarea:-ms-input-placeholder { /* IE 10+ */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.get-in-touch-modal textarea:-moz-placeholder { /* Firefox 18- */
  font-family: 'ApercuPro-Mono';
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000000;
}
.get-in-touch-modal .form-control{
  border: 0;
  border-bottom: 1px solid #e43a15;
  border-radius: 0;
}
.get-in-touch-modal textarea{
  height: 36px;
  margin: 5px 0 114px;
}
/* ======== End 404 page and Modal ========= */


/* ================== Media ================= */
@media screen and (max-width: 1780px){
  .googleMap {
    width: 700px;
    height: 400px;
  }
  .culture .culture-img img{
    width: 690px;
  }
  .people p.number{
    font-size: 100px;
  }
}
@media screen and (max-width: 1700px){
  header {
    padding: 50px 20px;
  }  
}
@media screen and (max-width: 1570px){
  header {
    padding: 50px 10px;
  }
  .navbar-toggleable-md .navbar-collapse{
    margin-left: 100px;
  }  
  .nav-right{
    margin-top: 7px;
  }
}
@media screen and (max-width: 1499px){
  .googleMap {
    width: 560px;
    height: 320px;
  }
  footer .social span {
    margin-right: 15px;
  } 
}
@media screen and (max-width: 1399px){
  .navbar-toggleable-md .navbar-collapse{
    margin-left: 200px;
  }
  .slick-prev, .slick-next{
    top: 45%;
  } 
  .industries{
    padding-left: 120px;
  } 
  .innovative .top-bg{
    display: none;
  }
}
@media screen and (max-width: 1199px){
  .innovative .bottom-bg{
    display: none;
  }
  .innovative .arm {
    max-width: 600px;
    top: -100px;
  }  
  .navbar-toggleable-md .navbar-collapse {
    margin-left: 50px;
  }
  .nav-right {
    position: relative;
    z-index: 2;
  }
  .navbar-brand {
    z-index: 2;
    position: relative;
    top: -4px;
  }
  .logo {
    width: 130px;
    height: auto;
  }  
  .nav-right {
    margin-top: 0px;
  }
  .navbar-toggleable-md .navbar-nav .nav-link{
    margin-right: 20px;
  }
  header .nav-item.dropdown .fa-angle-down{
    right: 25px;
  }
  .what-we-do .fortune:before{
    left: 0;
  }
}

@media screen and (max-width: 1149px){
  .what-we-do .fortune:before{
    display: none;
  }
  .facilities-bg{
    max-width: 380px;
  }
  .culture .culture-img img {
    width: 590px;
  }
  .get-in-touch {
    margin: 0 10px 0 0;
  }
  .googleMap {
    width: 100%;
    height: 320px;
  }
  .google-map-box .flag {
    margin-top: 30px;
  } 
  .contact-text .email,
  .contact-text .phone { 
    font-size: 24px;
  }  
  .navbar-toggleable-md .navbar-collapse {
    margin-left: 130px;
  }
  .news .grid-sizer, .news .grid-item{
    width: 50%;
  }
  .how-it-works {
    padding: 145px 90px 200px;
  } 
  .what-we-do .what-we-do-img-right img, .what-we-do .what-we-do-img-left img{
    height: 400px;
  }
  .what-we-do .what-we-do-img-left {
    left: -33px;
  }
  .culture .culture-img img {
    width: 490px;
  }
  .culture{
    height: 520px;
  }
  .people p.number {
    font-size: 80px;
  }
  .culture .culture-img img{
    z-index: 0;
  }

}
@media screen and (max-width: 991px){
  .what-we-do .what-we-do-img-left {
    left: -133px;
  } 
  .partners .partner{
    margin: 0 5px;
  }
  .experise-box{
    height: auto;
    min-height:auto;
  }
  .about-us-img{
    display: none;
  }
  .get-in-touch-modal {
    width: 100%;
    padding: 50px 50px 34px;
  }  
  .navbar-toggleable-md .navbar-collapse{
    padding: 10px 20px;
    background-color: #eee;
    position: relative;
    z-index: 10;
    border-radius: 5%;
  }
  .navbar-toggleable-md .navbar-nav .dropdown-menu{
    z-index: 10;
    background-color: #fff;
    position: relative;
  }
  .footer-nav{
    display: none;
  }
  .footer-top .col.col1{
    display: block;
    margin: 0 auto;
    max-width: 400px;
  }
  .footer-top .navbar-brand{
    display: block;
    margin: 0 auto;
    width: 140px;
  }
  footer .sep{
    margin: 20px auto;
  }
  footer .phone,
  footer .email{
    text-align: center;
  }
  footer .social{
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }
  footer .footer-top {
    padding: 35px 40px 40px;
  }  
  .navbar-toggleable-md .navbar-collapse{
    margin-top: 50px;
    margin-left: 0;
  }
  .navbar{
    right: 100px;
    top: 7px;
    position: absolute;
  }
  h1.page-title,
  h1 {
    font-size: 50px;
  } 
  .why-us .why-us-img {
    display: none;
  }
  .mobile-blue .mobile-blue-box {
    min-height: 1px;
    height: auto;
    margin-bottom: 40px;
  }  
  .facilities-bg{
    display: none;
  }
  .what-we-do-content {
    padding: 200px 0 80px;
  }
  .company {
    padding: 80px 0 120px;
  }
  .story p.number{
    font-size: 80px;
  }
  .facilities {
    padding: 100px 0 133px;
  } 
}
@media screen and (max-width: 859px){
  .navbar{
    right: 150px;
  }  
  .what-we-do .what-we-do-img-right img, .what-we-do .what-we-do-img-left img {
    height: 300px;
  }
  .people p.number {
    font-size: 60px;
  }
}
@media screen and (max-width: 767px){
  .navbar-toggleable-md .navbar-nav .dropdown-menu{
    position: absolute;
  }
  .navbar-brand {
    width: 300px;
    display: block;
    margin: 0 auto;
  }
  .navbar-brand .logo{
    display: block;
    margin: 0 auto 25px;
  }
  .navbar {
   left: 0;
  }
  .navbar-toggler-right{
    left: 0;
    top: 32px;
  }
  .page404 .title-404 {
    font-size: 40px;
  }
  .page404 .content-404 p {
    font-size: 14px;
  }
  .contact-text {
    padding: 50px 0;
  }
  .contact-bg{
    height: 900px;
    top: 185px;
  }
  .google-map-box .location-contact{
    margin-bottom: 30px;
  }
  .news .grid-sizer, .news .grid-item{
    width: 100%;
  }
  .mobile-app-phone-img{
    display: none;
  }
  .what-we-do .what-we-do-img-left img {
    height: 270px;
  }
  .what-we-do .what-we-do-img-right, .what-we-do .what-we-do-img-left {
    top: -140px;
  }
  .about-us {
    padding: 0 0 190px;
  }
}
@media screen and (max-width: 700px){
  .what-we-do-img-right{
    display: none;
  }
}

@media screen and (max-width: 576px){
  .industries {
    padding: 45px 20px;
  }
  .industries-slid {
    margin: 30px 0px 0 15px;
  }
  .about-us {
    padding: 0 0 30px;
  }
  .culture {
    height: 320px;
  }
  .culture h2 {
    padding: 50px 0 0;
  }
  .what-we-do-img-left,
  .culture .culture-img img{
    display: none;
  }
  .what-we-do-content {
    padding: 100px 0 40px;
  }
  .get-in-touch-modal {
    padding: 40px 30px 30px;
  }
  .contact-text{
    padding: 50px 15px;
  }
  h1.page-title,{
    font-size: 40px;
  }
  centurion p {
    font-size: 22px;
  }
  .get-in-touch-modal .contact{
    font-size: 24px;
    text-align: left;
  }
  .get-in-touch-modal img.close-modal{
    height: 17px;
    cursor: pointer;
    top: -25px;
    left: 48px;
  }
  .get-in-touch-modal textarea{
    margin: 5px 0 55px;
  }
  .news-article-content {
    padding: 25px 15px 75px;
  }
  .news-article-title {
    padding: 80px 0 82px;
  } 
  .exprertise-img{
    margin: 0;
  }
  .news-article-title h3,
  h3 {
    font-size: 35px;
  }
  h2{
    font-size: 30px;
  } 
  h4{
    font-size: 24px
  }
  h5 {
    font-size: 22px;
  } 
  .exprertise-list{
    font-size: 22px;
  }
  .news-quote {
    padding: 30px 65px 25px 36px;
  }
  .news-quote-icon{
    right: 0;
    top: 0;
  }
  .get-in-touch-in-page {
    padding: 45px 0;
  }
  .exprertise {
    padding: 75px 0 60px;
  }
  .why-us {
    padding: 75px 0 60px;
  }
  .how-it-works {
    padding: 80px 45px 50px;
  } 
  .explore-our-mobile {
    padding: 70px 0 40px;
  }
  .mobile-blue{
    padding: 50px 0;
  }
  .mobile-development .icon-dev{
    margin: 0 auto 10px;
    width: 45px;
  }
  .mobile-development .default-bread {
    margin: -27px auto 20px;
  }
  .mobile-development {
    padding: 30px 0 50px;
  } 
  .mobile-slid h6.mobile-slid-title{
    padding: 30px 0 0px;
    font-size: 20px;
  } 
  .mobile-slid .mobile-slid-text{
    font-size: 14px;
  }
  .people {
    padding: 100px 0 75px;
    overflow: hidden;
  }
  .people-block-img {
    top: 152px;
    position: absolute;
    left: -40px;
    max-width: 600px;
  }
  .people p.number {
    font-size: 40px;
  }
  .blue-block .btn{
    margin-bottom: 15px;
  }
  .blue-block .bnt-link + .bnt-link {
    margin-left: 0;
  }  
  .story p.number {
    font-size: 40px;
  }
  .story {
    padding: 60px 0 100px;
  }
  .facilities {
    padding: 50px 0 70px;
  }
  .blue-block {
    padding: 60px 0 70px;
  }  
  .culture-box-content {
    padding-left: 0;
  }
  .centurion {
    padding: 80px 0 140px;
  }
  .innovative {
    padding: 260px 0 90px;
  }
  .services {
    padding: 60px 0 20px;
  }
  .experise {
    padding: 60px 0 0;
  }
  .partners {
    padding: 50px 0;
  }
  .partners-wrap {
    margin-top: 40px;
  }
}

@media screen and (max-width: 425px){
  .navbar-brand {
    width: 100%;
  }  
  .innovative {
    padding: 200px 0 90px;
  }
  .navbar-toggleable-md .navbar-collapse{
    width: 100%;
    position: absolute;
    padding: 12px;
    min-width: 290px;
    margin-top: 70px;
    left: -7px;
  }
  .navbar-toggleable-md .navbar-nav .dropdown-menu{
    padding: 10px;
  }
  .dropdown-item{
    font-size: 12px;
  }
  .navbar-toggleable-md .navbar-nav .nav-link{
    font-size: 14px;
  }
  .slick-initialized .slick-slide.slick-active,
  .slick-initialized .slick-slide{
    margin-right: 5px !important;
  } 
}
@media screen and (max-width: 320px){
  .get-in-touch-modal {
    padding: 40px 20px 30px;
  }
  .get-in-touch-modal .contact{
    margin-bottom: 40px;
  }
  .innovative {
    padding: 140px 0 90px;
  }
} 
